.cell {
  background-color: white;
  display: flex;
  padding: 25%;
}

svg {
  display: none;
}

.cell.o > .circle {
  display: block;
  fill: blue;
}

.cell.x > .cross {
  display: block;
  fill: red;
}

.board-container {
  background-color: grey;
  border: 5px solid grey;
  gap: 5px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 50vh;
  width: 50vh;
  margin-top: 10vh;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}
