head
  title Tic Tac Toe!
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='../style.css' rel='stylesheet')
  script(src='../ts/index.ts' type='module' defer='')

include game-elements
include welcome-screen
