#welcome-screen
  div.welcome-screen__name-input
    input#welcome-screen__name-input__x(type='text' placeholder="x player's name?")
    input#welcome-screen__name-input__o(type='text' placeholder="o player's name?")
  button#name-submission.welcome-screen__submit-names(type='button') Submit names
  div#welcome-screen__name-errors
