body {
  background-color: #eadbcb;
}

.cell {
  background-color: white;
  display: flex;
  padding: 25%;
}

svg {
  display: none;
}

.cell.o > .circle {
  display: block;
  fill: blue;
}

.cell.x > .cross {
  display: block;
  fill: red;
}

.board-container {
  background-color: grey;
  border: 5px solid grey;
  gap: 5px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 50vh;
  width: 50vh;
  margin-top: -10vh;
}

.game-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  flex-direction: column;
}

input, button {
    background-color: #F0F0F0;
    border: none;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    padding: 10px 20px;
    margin: 5px;
}

button {
  border-color: black;
  border-style: ridge;
  border-width: 3px;
}

input:hover, button:hover {
    background-color: #E0E0E0;
}

input:active, button:active {
    background-color: #D0D0D0;
}

button:before {
    content: url('icon.png');
}
